{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Michelle Jewelry</title>
    <link rel="stylesheet" href="{% static 'css/estilos_v2.css' %}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <p id="usuario-sesion">
                {% if user.is_authenticated %}
                    Bienvenido, {{ user.username }} |
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-link">Cerrar sesión</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar sesión</a> |
                    <a href="{% url 'crear_cuenta' %}">Registrarse</a>
                {% endif %}
            </p>

            <a href="#" class="logo">
                <img src="{% static 'imagenes/logo2.PNG' %}" alt="Logo del sitio web">
            </a>

            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'ver_carrito' %}"><img src="{% static 'imagenes/imagen6.png' %}" alt="carrito"></a></li>
                    <li><a href="{% url 'crear_cuenta' %}"><img src="{% static 'imagenes/imagen9.png' %}" alt="registro"></a></li>
                    <li><a href="{% url 'opinion' %}">Opiniones</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content container">
            <div class="header-txt">
